*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*HORIZONTAL SCROLLING FIX*/
html, body{
    max-width: 100%;
    overflow-x: hidden;
}
.header{
    min-height: 70vh;
    width:100%;
    background-image: url(images/8c3f23158910291.6394545cce363.gif);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}  
.header h1{
    margin-top: 10%;
    font-size: 45px;
}
nav{
    height: 75px;
    width: 100%;
    background: black;
    display:flex;
    padding: 2;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:75px;
    height: 70px;
    scale: 70%;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 15px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px ;
}
.nav-links ul li::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #afb1b1;
        display: block;
        margin: auto;
        transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.menu{
    display: none;
}
.close{
    display: none;
}
.row{
    height: 100vh;
    width: 100%;
    display: block;
    background-position: center;
    background-size: cover;
    display: flex;
}
.row img{
    height: 100vh;
    width: 100%;
    margin-left: 10%;
    
}
.about-us{
    background: rgb(16, 7, 24);
    width: 100%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.row-col{
    flex-basis: 49%;
    padding: 30px 2px;
}
.row-col h1{
    font-size: 32px;
    margin-left: 10%;
    color: #fff;
}
.row-col p{
    margin-top: 30px;
    margin-left: 10%;
    color: #fff;
}
.row-col img{
    width: 90%;
    
}
@media(max-width: 700px){
    .menu{
        list-style: none;
        display: inline-block;
        padding: 8px 15px;
        position: relative;
    }
    .close{
        display: block;
        color: #fff;
        margin: 10;
        font-size: 22;
        cursor: pointer;
        scale:30%;
    }
    .header h1{
        margin-top: 60%;
        font-size: 45px;
    
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #000000;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.7s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10;
        font-size: 22;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .row{
    
        display: block;
    }
    .row-col img{
        width: 75%;
        height: 50%;
        margin-left: 13%;
        
    }
}